{{ define "main" }}
    <div class="parallax-container">
        <div class="parallax">
            <div class="parallaximage" style="height:100%;">
                <h1 style="text-align: center; padding-top: 40px; text-transform:uppercase; letter-spacing: 4px; font-weight:400; color:white; margin-top: 0px;"> Blog </h1>
            </div>
        </div>
    </div> 


    <div class="container">
        <h3>{{.Title}}</h3>
        <div class="divider"></div>
        <div class="row">
            <br>
            <div class="col s9" style="padding-right:20px;">
                <div class="posts-container" >
                    <div class="row">
                            {{ range first 5 .Pages }}
                            {{- partial "cardcomponent.html" . -}}
                            
                            {{end}}
                    </div>
                </div>
            </div>
            <div class="col s3">
                {{- partial "infobar.html" . -}}
                
            </div>
        </div>
            
    </div>
    <ul>
        
    </ul>
    
{{ end }}
