<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper white grey-text">
            <a href="/" class="brand-logo black-text">
                <img style="height:45px;
                max-height:100%;
                vertical-align: middle;
                margin-right:15px;
                margin-left:20px;
                margin-bottom:5px;
                margin-left:50px;
                " src="{{ .Site.Params.Logo | absURL }}" alt="{{ .Site.Title }}">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down grey-text">
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
</div>
