

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper white grey-text">
            <a href="/" class="brand-logo black-text">
                <img style="height:45px;
                max-height:100%;
                vertical-align: middle;
                margin-right:15px;
                margin-left:20px;
                margin-bottom:5px;
                margin-left:50px;
                " src="{{ .Site.Params.Logo | absURL }}" alt="{{ .Site.Title }}">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down grey-text">
                <li><a href="collapsible.html">JavaScript</a></li>
                {{ $currentNode := . }} {{ range .Site.Menus.main }} {{ if .HasChildren }}
                    <li><a class=" grey-text text-darken-2 dropdown-button" href="#!" style="text-transform:uppercase; font-size:14px; font-weight:600" data-activates="dropdown{{.Name}}">{{.Name}}<i class="material-icons right"></i></a></li>
                    <ul id="dropdown{{.Name}}" class="dropdown-content" >
                        {{ range .Children }}
                            <li>
                                <a href="{{ .URL }}" class="grey-text text-darken-2" style="text-transform:uppercase; font-size:14px; font-weight:600">
                                    {{/*  <i class="{{ .Pre }}" aria-hidden="true"> </i>  */}}
                                    {{ .Name }} </a> 
                            </li>
                        {{ end }}
                        </ul>
                    {{else}}
                        <li>
                            <a class="grey-text text-darken-2" style="text-transform:uppercase; font-size:14px; font-weight:600" href="{{.URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a> 
                        </li>
                    {{end}}
                {{ end }}
                  
            </ul>
        </div>
    </nav>
</div>
