{{ define "main" }}
<div id="homebanner" style="height:400px; width:100%;" class="blue lighten-3">
    
</div>  
<div class="container" style="padding-left:2em;">
    <div class="row">
        <br>
        <div class="col s9" style="padding-right:20px;">
            <div class="posts-container" >
                <div class="row">
                    {{ range first 5 .Pages }}
                    <div class="col s12 m12 l6 xl4">
                        <div class="card-panel white lighten-2" style="padding-top: 0; padding-left: 0; padding-right: 0; border-radius: 10px;">
                            <div style="background:azure; height:250px;"></div>
                            <div class="textcontainer" style="padding-left:24px;padding-right:24px">
                                <div>
                                    <span class="new badge red">hi</span>
                                </div>
                                <h5 >{{ .Title }}</h5>
                                <p>
                                    {{ with .Params.Description }}
                                    {{ .Title }}
                                    {{end}}
                                </p>
                                <a class="waves-effect waves-light btn" href="{{ .Permalink }}">More</a>
                            </div>
                        </div> 
                    </div>
                    
                    {{end}}
                </div>  
            </div>
    </div>
        
</div>
<ul>
    
</ul>
    
{{ end }}
