{{ define "main" }}
{{ if .Site.Params.carouselon }}
<div class="carousel carousel-slider center" data-indicators="true" style="min-height:350px;">
    <script>
        $(document).ready(function(){
            $('.carousel.carousel-slider').carousel({fullWidth: true});

            setInterval(function(){
                $('.carousel').carousel("next");
            }, 3000); 
        });
    </script>
    {{ range .Site.Data.carousel }}
    <div class="carousel-item center libre-blue">
        <div class="container" style="width:90% !important; max-width: 99999px !important;">
            <div class="row" style="padding:30px;margin-bottom: 40px;">
                <div class="col s12 l6" style="">
                    <div style="padding-left:5%; margin: auto 0">
                        <h3 style="font-weight:600; padding-top:0; letter-spacing: 1.5px; color: white;">{{.title}}</h1>
                        <p style="font-weight:600; font-size: 20px; color: white;">{{ .description | safeHTML }}</p>            
                    </div>
                </div>
                <div class="col s12 l6">
                    <img src="{{ .image }}" style="width:100%; height:auto;">
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ else }}
<div class="parallax-container">
    <div class="parallax">
        {{ with .Site.Params.bannerimage }}
            <div style='height:100%; background-image: url("{{ . | absURL }} ")'>
        {{ else }}
            <div class="parallaximage" style="height:100%;">
        {{ end }}
            
                <div class="container">
                    <h1 class="white-text" style=" text-align: center; padding-top: 70px; text-transform:uppercase; letter-spacing: 4px; font-weight:400; margin-top: 0px;"> Blog </h1>
                    <p class="grey-text text-lighten-3" style="font-size: 20px; text-align: center; text-transform:uppercase; letter-spacing: 4px; font-weight:400; color:white; margin-top: 0px;">
                        {{ .Site.Params.blogdescription }}
                    </p>

                </div>
            
        </div>
    </div>
</div> 
{{ end }}




    

<div class="container" style="">
    <div class="row">
        <br>
        
        <div class="col s12 m8 l10" style="padding-right:20px;" >
            <br>
            {{ $sitevar := .Site }}
            {{ with .Site.Params.Showcase }}
            {{ with $sitevar.GetPage . }}
            <div class="row" style="height:100%;">
                <div class="col s12 m12 l6 xl5" style="height:100%; overflow: hidden;">
                    <a href="{{.Permalink}}">
                        <img class="hoverable" style="max-height: 300px; margin-bottom:0;padding-bottom:0;" src="{{ .Params.image }}" alt="">
                    </a>
                </div>
                <div class="col s12 m12 l6 xl7 " style="padding-left: 20px; height: 100%;">
                        <h3 style="margin-bottom: 0;">{{ .Title }}</h3>
                        <p style="margin-top: 5px; text-transform: uppercase; letter-spacing: 1px; font-weight:500;" class="grey-text">Written By <span style="font-weight: 600px;" class="grey-text text-darken-2">{{ .Params.Author }}</span> on <span style="font-weight: 600px;" class="grey-text text-darken-2">{{ dateFormat "Jan 2 2006" .PublishDate }}</span></p>
                        <p>{{.Summary}}</p>
                        <a href="{{ .Permalink}}"class="hoverable waves-effect waves-light btn orange">Read More</a>
    
                </div>
            </div>
            
            {{ end }}
            {{ end }}


            <br>
        
            <h4 style="padding-left:0.8%; font-weight: 400px">Recent Posts</h4>
            <div class="divider"></div>

            <div class="posts-container" >                
                {{ range .Pages }}
            
                    {{- partial "cardcomponent.html" . -}}
                    
                {{end}}
            </div>
        </div>
        <div class="col hide-on-small-only m4 l2" style="margin-right: -35px">
            {{- partial "infobar.html" . -}}
        </div>
    </div>
        
</div>


    
{{ end }}
